<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- 增加 ASP.NET 上傳檔案大小限制 -->
        <httpRuntime maxRequestLength="52428800" executionTimeout="3600" />
        <!-- maxRequestLength: 50MB (以 KB 為單位: 50*1024*1024/1024 = 51200) -->
    </system.web>
    
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- 增加檔案上傳大小限制 -->
                <requestLimits maxAllowedContentLength="52428800" />
                <!-- maxAllowedContentLength: 50MB (以 bytes 為單位) -->
            </requestFiltering>
        </security>
        
        <!-- URL 重寫規則 -->
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- 預設文件 -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="login.php" />
                <add value="open.php" />
            </files>
        </defaultDocument>
        
        <!-- PHP 設定 -->
        <httpErrors errorMode="Detailed" />
        
        <!-- 靜態檔案處理 -->
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
