<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- 增加 ASP.NET 上傳檔案大小限制 -->
        <httpRuntime maxRequestLength="104857600" executionTimeout="7200" />
        <!-- maxRequestLength: 100MB (以 KB 為單位) -->
    </system.web>
    
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- 增加檔案上傳大小限制 -->
                <requestLimits maxAllowedContentLength="104857600" />
                <!-- maxAllowedContentLength: 100MB (以 bytes 為單位) -->
            </requestFiltering>
        </security>
        
        <!-- URL 重寫規則 -->
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- 預設文件 -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="login.php" />
                <add value="open.php" />
            </files>
        </defaultDocument>
        
        <!-- PHP 設定 -->
        <httpErrors errorMode="Detailed" />
        
        <!-- Azure App Service 上傳設定 -->
        <handlers>
            <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" 
                 scriptProcessor="D:\Program Files (x86)\PHP\v8.1\php-cgi.exe" 
                 resourceType="File" requestTimeout="00:30:00" />
        </handlers>
        
        <!-- 應用程式設定 -->
        <appSettings>
            <add key="WEBSITE_LOAD_USER_PROFILE" value="1" />
            <add key="WEBSITE_TIME_ZONE" value="Asia/Taipei" />
        </appSettings>
        
        <!-- 靜態檔案處理 -->
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
