<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- PHP 處理器配置 -->
        <handlers>
            <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.1\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
            <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="/usr/bin/python3" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        
        <!-- 預設文件配置 -->
        <defaultDocument>
            <files>
                <add value="index.php" />
                <add value="quick_start.php" />
                <add value="azure_face_dashboard.php" />
            </files>
        </defaultDocument>
        
        <!-- URL 重寫規則 -->
        <rewrite>
            <rules>
                <!-- PHP 檔案處理 -->
                <rule name="PHP Files" stopProcessing="true">
                    <match url="^(.+\.php)$" />
                    <action type="Rewrite" url="$1" />
                </rule>
                
                <!-- Python 腳本處理 -->
                <rule name="Python" stopProcessing="true">
                    <match url="^startup\.sh$" />
                    <action type="Rewrite" url="/startup.sh" />
                </rule>
                
                <!-- 預設重定向 -->
                <rule name="Default" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/quick_start.php" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- 靜態檔案處理 -->
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/x-httpd-php" />
            <mimeMap fileExtension=".py" mimeType="text/x-python" />
        </staticContent>
        
        <!-- 超時設定 -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Requested-With" value="XMLHttpRequest" />
            </customHeaders>
        </httpProtocol>
        
        <!-- 請求限制設定 -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB -->
            </requestFiltering>
        </security>
        
        <!-- 執行超時設定 -->
        <fastCgi>
            <application 
                fullPath="D:\Program Files\PHP\v8.1\php-cgi.exe"
                arguments=""
                maxInstances="4"
                idleTimeout="300"
                requestTimeout="900"
                instanceMaxRequests="10000"
                protocol="NamedPipe"
                pipeName="php"
                flushNamedPipe="false">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                    <environmentVariable name="PHP_FCGI_CHILDREN" value="4" />
                </environmentVariables>
            </application>
        </fastCgi>
        
        <!-- 額外的超時設定 -->
        <httpRuntime executionTimeout="900" maxRequestLength="1048576" />
    </system.webServer>
</configuration>
